.Layout {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1em;
}

.list{
   
    display: flex;
    list-style: none;
    align-items: center;
    
}

.item{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    display: inline;
    margin-right: 1em;
    
    
}

.item a {
    color: #222;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
} 


